.logo-place {
    margin: 100px;
}

.row{
    width: 100%;
}

.form-component {
    margin-top: 200px;
    margin-bottom: 200px;
}


.page-footer{
    background-color: dimgrey;
    color: white;
}
.page-footer a{
    color: white;

}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .marketing {
      margin-top: 200px;
  }


